header
{
position: relative;
background: white;
}
header tr{
font-family: Arial;
font-size: 50px;
text-align: center;
}
header tr.sub
{
font-family: Arial;
font-size: 20px;
text-align: center;
}

header ul img{
background: #e8eae9;
border: 1px solid #c6c9cc;
margin: 8px 0 0 20px;
padding: 4px;
position: absolute;
left: 0px;
top: 2px;
}

body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
}

#container
{
display: inline-block;

width: 100%;
margin-top: 60px;
background: white;
font-family: Arial;
font-size: 20px;
text-align:center;
}

 tr.sub
{
font-family: Arial;
font-size: 10px;
text-align: center;
}


table.sortable
{
border: 2px solid #C1DAD7;

}

table.sortable tr.head{
font: Bolder 13px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA no-repeat;
}

table.sortable td{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
	font: 10px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;

}


table.sortable td.alt {
	background: #F5FAFA;
	color: #B4AA9D;

}

#middle{

padding-top: 0px;
padding-left: 30px;
display: inline-block;
width: 99%;
float: center;
background: white;
margin-top: 2%;
margin-bottom: 2%;
position: center;
font-family: Arial;
font-size: 20px;
	padding: 6px 6px 6px 6px;
}

ul.main 
{
list-style-type: none;
    padding: 0;
    margin: 0;
font-size: 14px;
padding-left: 180px;
   }

ul.main li{
float: left;
width: 50%;
}  

ul.main a {
background: grey;
margin: 0em;
padding: 6px;
border: 0em solid black;
display:  block;
text-align: center;
text-decoration: none;
color: white; 
}

a:hover{
background: #404853;
box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
border-right: 1px solid rgba(0, 0, 0, 0.2);
color: #d0d2d5;
}

ul.main li:hover ul, li.hover ul
{
display: block;
position: absolute;
width: auto;
left: 800px;
margin: 0;
padding: 0;	
border: 0.1em solid black;
}

ul.main li:hover li a, li.hover li a 
{
margin: 0em;
padding: 6px;
border: 0em solid black;
display:  block;
width: auto;
background: white;
list-style: none;
}  


 #person1
{
padding-top: 40px;
padding-left: 30px;
display: inline-block;
width: 45%;
float: left;
background: white;
margin-top: 2%;
font-family: Arial;
font-size: 20px;
text-align = left;

}

 #person2
{
padding-top: 40px;
padding-left: 30px;
width: 45%;
float: right;
background: white;
margin-top: 2%;
font-family: Arial;
font-size: 20px;
text-align = center;

}